<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Editar</title>
        <link rel="shortcut icon" href="/logo/favicon.ico" />
        <link rel="stylesheet" href="/css/editEmprestimo.css"/>
    </head>

    <body>
        <h2>Editar informações do Cliente </h2>
        <% data.forEach(function(details) { %>
            <form action="/editEmprestimo/<%= details._id %>" method="POST">
                <h3>Nome</h3>
                <input type="text" value="<%= details.name %>" name="name">
                <h3>Sobrenome</h3>
                <input type="text" value="<%= details.surname %>" name="surname">
                <h3>CPF</h3>
                <input type="text" value="<%= details.cpf %>" name="cpf" maxlength="11">
                <h3>Telefone</h3>
                <input type="text" value="<%= details.telefone %>" name="telefone" maxlength="11">
                <h3>Endereço</h3>
                <input type="text" value="<%= details.endereco %>" name="endereco">
                <h3>Data de Empréstimo</h3>
                <input type="text" value="<%= details.data %>" name="data" maxlength="10">
                <h3>Data de devolução</h3>
                <input type="text" value="<%= details.data2 %>" name="data2" maxlength="10">
                <h3>Livro Emprestado</h3>
                <input type="text" value="<%= details.livroEmprestado %>" name="livroEmprestado">
                <h3>Multa</h3>
                <input type="text" value="<%= details.multa %>" name="multa" maxlength="6">
                <br>
                <button><a href="/show-emprestimo">Voltar</a></button>
            </form>
        <% }) %>
    </body>
</html>