<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Desafio 1 - CRUD</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="/js/showscript.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8">
                <h2><b>Registro de Livros</b></h2>
              </div>
              <div class="col-sm-4">
                <div class="search-box">
                  <i class="material-icons">&#xE8B6;</i>
                  <input type="text" id="myInput" onkeyup="filterFunction()" class="form-control" placeholder="Pesquisar&hellip;"/>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered" id="myTable">
            <thead>
              <tr>
                <th class="form-title">Título</th>
                <th class="form-title">Subtítulo</th>
                <th class="form-title">Autor</th>
                <th class="form-title">Edição</th>
                <th class="form-title">Editora</th>
                <th class="form-title">Gênero</th>
                <th class="form-title">Idioma</th>
                <th class="form-title">Ano</th>
                <th class="form-title">Qtd. de Exemplares</th>
              </tr>
            </thead>

            <tbody>
              <% livros.forEach(function(details) { %>
              <tr id="myUL">
                <td class="inputs-bd"><%= details.titulo %></td>
                <td class="inputs-bd"><%= details.subtitulo %></td>
                <td class="inputs-bd"><%= details.autor %></td>
                <td class="inputs-bd"><%= details.edicao %></td>
                <td class="inputs-bd"><%= details.editora %></td>
                <td class="inputs-bd"><%= details.genero %></td>
                <td class="inputs-bd"><%= details.idioma %></td>
                <td class="inputs-bd"><%= details.ano %></td>
                <td class="inputs-bd"><%= details.qtd %></td>
                <td class="inputs-bd">
                  <a href="/edit-livros/<%= details._id %>" class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  <a href="/delete-livros/<%= details._id %>" class="delete" title="Deletar" data-toggle="tooltip" ><i class="material-icons">&#xE872;</i></a>
                </td>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <a href="/livros" class="btn btn-info add-new"><i class="fa fa-plus"></i> Novo Livro</a>
        </div>
      </div>
    </div>
  </body>
</html>